<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Board of Advisors</h2>
        </div>
    </div>

    <div class="row">
        {% for advisor in site.data.advisors %}
        <div class="card col-md-4 crop">
            <img class="card-img-top img-fluid"  width="175px" src="{{advisor.pic}}" alt="{{advisor.name}}">
            <div class="card-body">
                <h5 class="card-title">{{advisor.name}}</h5>
                <p class="card-text">{{advisor.desc  | markdownify }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>