<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Founders</h2>
        </div>
    </div>

    <div class="row">
        {% for founder in site.data.founders %}
        <div class="col-md-4 crop">
            <img class="img img-fluid" width="175px" src="{{founder.pic}}" alt="{{founder.name}}">
            <div class="card-body">
                <h5 class="card-title">{{founder.name}}</h5>
                <p class="card-text">{{founder.desc  | markdownify }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>