<div class="row">
    <div class="col-md-12 text-center">
        <h1>The Space</h1>
    </div>
    <div class="col-md-5">

        <p>
            Sonoma county is littered with fragmented pockets of innovation, garage hackers, telecommuters, and hidden-away new businesses.
            Startup Sonoma County aims to rally those talented entrepreneurs into a more cohesive virtual and physical community.
            By providing a shared **physical incubation space** in [Santa Rosa](https://en.wikipedia.org/wiki/Santa_Rosa,_Ca),
            the largest city north of San Francisco, new startups will benefit from direct discussions and frequent collaboration
            with their fellow North Bay entrepreneurs.
        </p>

        <p>
            Unlike a coworking space, Startup Sonoma County is not a public bill-by-hour-space, but rather a location where new startups
            are incubated, ideas are shared, and mutual support is the norm. New members are expected to “give before they
            get” and must help the entire community grow and thrive.
        </p>
    </div>


    <div class="col-md-7">
        <div class="typeform-widget" data-url="https://opszero.typeform.com/to/RDjEDM" style="width: 100%; height: 500px;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by
            <a href="https://admin.typeform.com/signup?utm_campaign=RDjEDM&utm_source=typeform.com-9917016-Pro&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
                style="color: #999" target="_blank">Typeform</a>
        </div>
    </div>
</div>